@import "colors";
@import "variables";
@import "navbar";
@import "sidebar";
@import "table";
@import "content";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome";

body {
  background: $bg-main-color;
  font-family: $font-stack;
}

.clear {
    clear: both;
}

////
// Main container
////

#main {
    display: none;
    width: 100%;
}
